<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{title}}</h1> <hr>
    <p>
      this is home page <br>
      {{description}}
    </p> <br> <hr>
    <p>
      {{number}}
      {{list}}
    </p><hr>
    <br>
    <b>{{list.5.1}}</b>
    <hr>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing.
      <ul>
        {% for i in list %}
        <li>{{i}}</li>
        {% endfor %}
      </ul>
      <hr>
      {% if number == 12563784 %}
      <h3>Tunahan</h3>
      {% else %}
      <h3>Fatmagül</h3>
      {% endif %}
    </p>
    <hr>
    <p>
      {{e_list|dictsort:"name"}}
    </p>
  </body>
</html>
